*.sw?
*~
.#*
.*.md.html
.DS_Store
.factorypath
.gradle
.idea
.metadata
.recommenders
.settings
.springBeans
/build
/code
MANIFEST.MF
bin
build
build.log
dump.rdb
interpolated*.xml
lib/
manifest.yml
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
out
